<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">


$( document ).ready(function() {
	$('#demande_modifs').click(function() {
		$('.disabled_form').prop('disabled', false);
		//$('.disable_input :input').prop('disabled', true);
		$('#etudiant_old_titre').val($('#etudiant_titre').val());
    	$('#etudiant_old_nom').val($('#etudiant_nom').val());
    	$('#etudiant_old_prenom').val($('#etudiant_prenom').val());
    	$('#etudiant_old_naissance').val($('#etudiant_naissance').val());
    	$('#etudiant_old_adresse').val($('#etudiant_adresse').val());
    	$('#etudiant_old_care_of').val($('#etudiant_care_of').val());
    	$('#etudiant_old_npa').val($('#etudiant_npa').val());
    	$('#etudiant_old_ville').val($('#etudiant_ville').val());
    	$('#etudiant_old_filiere').val($('#etudiant_filiere').val());
    	$('#etudiant_old_orientation').val($('#etudiant_orientation').val());
    	$('#etudiant_old_mode').val($('#etudiant_mode').val());
	});
});
</script>



<h1>Validation de mes données</h1>



<%= form_for(@etudiant) do |f| %>

<table>
  	<tr>
	  	<th></th>
	    <th>Infos en possession de la HEIG-VD</th>
	    <th>Corrections demandées</th>
    </tr>
  	<tr>
	  	<th class="label_show_etu">Politesse</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.select :titre,    options_for_select(%w[- Monsieur Madame]), :disabled => true, :class => "disabled_form" %></div></td>	
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_titre, :readonly => true, :class => "hidden"  %></div></td>
  	</tr>
	<tr class="label_show_etu">
	  	<th>Nom</th>
	  	<td><div id="disabled_form" class="disabled_form"><%= f.text_field :nom, :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden_old_nom" class="hidden"><%= f.text_field :old_nom, :readonly => true, :class => "hidden" %></div></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Prénom</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.text_field :prenom %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_prenom, :readonly => true, :class => "hidden"   %></div></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Date de naissance</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.text_field :naissance, :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_naissance, :readonly => true, :class => "hidden"   %></div></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Adresse</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.text_field :adresse, :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_adresse, :readonly => true, :class => "hidden"   %></div></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>c/o</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.text_field :care_of, :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_care_of, :readonly => true, :class => "hidden"   %></div></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>NPA</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.text_field :npa, :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_npa, :readonly => true, :class => "hidden"   %></div></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Ville</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.text_field :ville, :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_ville, :readonly => true, :class => "hidden"   %></div></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Filière</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.select :filiere, options_for_select(%w[- Géomatique Microtechnique]), :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_filiere, :readonly => true, :class => "hidden"   %></div></td>
	  	</td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Orientation</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.select :orientation, options_for_select(%w[- Géomatique Microtechnique]), :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_orientation, :readonly => true, :class => "hidden"   %></div></td>
	  	</td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Mode</th>
	  	<td><div id="disabled_form" class="disabled"><%= f.select :mode, options_for_select(%w["Plein-temps", "En-emploi"]), :disabled => true, :class => "disabled_form"   %></div></td>
	  	<td><div id="hidden" class="hidden"><%= f.text_field :old_mode, :readonly => true, :class => "hidden"   %></div></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Commentaires</th>
	  	<td><div id="disabled" class="disabled"><%= f.text_area :commentaires  %></div></td>
	  	<td></td>
	</tr>
	
  
</table>

<p>
	
	<div id="demande_modifs" ><%= submit_tag "Je souhaite apporter des modifications", :type => 'button' %></div>
	<div id="validation" ><%= f.submit "Soumettre les modifications" %></div>
</p>
<%end%>

