<h1>Informations étudiant</h1>

<table>
  <thead>
  	<tr>
	  	<th></th>
	    <th>Infos en possession de la HEIG-VD</th>
	    <th>Corrections demandées</th>
	    <th>Corrections validées</th>
    </tr>
  </thead>
  <tbody>
  	<tr class="label_show_etu">
	  	<th>Politesse</th>
	  	<td><%= @etudiant.titre %></td>
	  	<td><%= @etudiant.vld_titre %></td>
  	</tr>
	<tr class="label_show_etu">
	  	<th>Nom</th>
	  	<td><%= @etudiant.nom %></td>
	  	<td><%= @etudiant.vld_nom %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Prénom</th>
	  	<td><%= @etudiant.prenom %></td>
	  	<td><%= @etudiant.vld_prenom %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Date de naissance</th>
	  	<td><%= @etudiant.naissance %></td>
	  	<td><%= @etudiant.vld_naissance %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Adresse</th>
	  	<td><%= @etudiant.adresse %></td>
	  	<td><%= @etudiant.vld_adresse %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>c/o</th>
	  	<td><%= @etudiant.care_of %></td>
	  	<td><%= @etudiant.vld_care_of %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>NPA</th>
	  	<td><%= @etudiant.npa %></td>
	  	<td><%= @etudiant.vld_npa %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Ville</th>
	  	<td><%= @etudiant.ville %></td>
	  	<td><%= @etudiant.vld_ville %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Filière</th>
	  	<td><%= @etudiant.filiere%></td>
	  	<td><%= @etudiant.vld_filiere  %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Orientation</th>
	  	<td><%= @etudiant.orientation %></td>
	  	<td><%= @etudiant.vld_filiere  %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Mode</th>
	  	<td><%= @etudiant.mode %></td>
	  	<td><%= @etudiant.vld_mode %></td>
	</tr>
	<tr class="label_show_etu">
	  	<th>Commentaires</th>
	  	<td></td>
	  	<td><%= @etudiant.vld_commentaires %></td>
	</tr>
  </tbody>
  
</table>
<br />
<br />
<%= link_to "Retour", etudiants_path %>