<!DOCTYPE html>
<html>
<head>
  <title>PresPlom - Application de gestion des présentations de travaux de diplôme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">  
	<% if current_user %>  
    	Bonjour, <%= current_user.prenom + " " + current_user.nom + " vous travaillez dans le département : " + current_user.departement %> !  
    	<%= link_to "Sign Out", signout_path %>
  	<% else %>  
    	<%= link_to "Log in avec AAI", "/auth/developer" %>
  	<% end %>
</div> 
<%= yield %>

</body>
</html>
