<!DOCTYPE html>
<html>
<head>
  <title>PresPlom - Application de gestion des présentations de travaux de diplôme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "custom", :media => "all" %>
   <%= stylesheet_link_tag "etudiants", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
		<div id="banner">  
		<% if can? :manage, @user %>
  				<%= link_to "Administration", admin_path %>
		<% end %>
		<% if current_user %>  
    		Bonjour, <%= current_user.prenom + " " + current_user.nom %>  
    		<%= link_to "Sign Out", signout_path %>
  		<% else %>  
    		<%= link_to "Log in avec AAI", "/auth/developer" %>
  		<% end %>
	</div>
	<div id="columns">
		<div id="sidebar">
				<%= link_to "Tous les étudiants", etudiants_path %><br />
				<%= link_to "Etudiants connectés" %><br /> 
				<%= link_to "Etudiants jamais connectés", never_connected_etudiants_path  %><br />
				<%= link_to "Toutes les demandes de changement" %><br />
				<%= link_to "Toutes les corrections à faire" %><br />
				<%= link_to "Toutes les corrections faites" %>
		</div>		
		<section class="main">
		
			<%= yield %>
		</section>
		<%= render 'layouts/footer'%>
	</div> 


</body>
</html>
